* {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
header {
	margin-top: 12px;
	margin-left: 10px;
	font-size: 18px;
}
.one{
	width: 397px;
	height: 118px;
	border: 1px solid #9E969B;
	position: relative;
	top: 35px;
	left: 11px;
}
.two{
	width: 397px;
	height: 118px;
	border: 1px solid #9E969B;
	position: relative;
	top: 70px;
	left: 11px;
}
.three{
	width: 397px;
	height: 118px;
	border: 1px solid #9E969B;
	position: relative;
	top: 105px;
	left: 11px;
}
img[alt~="Web"] {
	border: 1px solid #9E969B;
	position: absolute;	
	top: 15px;
	left: 15px;
}
input[alt~="listen"] {
	
	position: absolute;	
	bottom: 16px;
	right: 80px;
}
input[alt~="Add"] {
	
	position: absolute;	
	bottom: 16px;
	right: 15px;
}
.text{
	height: 50px;
	width: 200px;
	display: block;
	position: absolute;	
	top: 16px;
	left: 167px;
}
.text span {
	font-weight: bold;
}
 span a {
	color: inherit; 
	text-decoration: none;
}

input[alt~="listen"] + span {
	display: block;
	position: absolute;	
	bottom: 21px;
	right: 98px;
	color: white;
}
input[alt~="Add"] + span {
	display: block;
	position: absolute;	
	bottom: 21px;
	right: 32px;
	color: white;
}








/*just for fun*/
iframe {
	width: 350px;
	height: 250px;
}
.i-frame{
    margin-top: 100%;
}
span.i-frame {
	font-family: 'Old English Text MT';
	font-size: 22px;
}	
/*just for fun*/	