body {
    padding: 0px;
    margin: 0px;
    background-color: #000;
    background-image: url("../assets/images/glass_80_115.png");
    background-repeat: repeat; 
}

canvas {
    /*Could do some border styling here*/
    border: 2px solid darkgray;
}

#top {
    display: inline-block;
    margin: 0 auto;
}

svg {
    display: block;
    background: #333;
    border: 2px solid darkgray;
    box-shadow: 2px 2px 4px grey;
}

.button-text {
    stroke-width: 1px;
    fill: #ffffff;
    pointer-events: all;
}

.info-panel {
    fill: #333;
    stroke-width: 6px;
    stroke: #686868;
}

.button-menu {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: 360;
    stroke-width: 4px;
    stroke: #00ffff;
}

.button-close {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: 460;
    stroke-width: 4px;
    stroke: #00ffff;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: 360;
        stroke-width: 4px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.button-menu:hover,
.button-close:hover {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

.title-text {
    display: block;
    background: #333;
    border: 2px solid darkgray;
    box-shadow: 2px 2px 4px grey;
}

input#nickname-input {
    width: 276px;
    height: 48px;
    background: #333;
    color: #7FFF00;
    stroke-width: 6px;
    stroke: #ff0000;
    font-size: 24pt;
    font-family: "Copperplate Gothic Light";
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
.text-username-use {
    fill: none;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}

.text-username-use:nth-child(5n + 1) {
    stroke: #F2385A;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.text-username-use:nth-child(5n + 2) {
    stroke: #F5A503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.text-username-use:nth-child(5n + 3) {
    stroke: #E9F1DF;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}

.text-username-use:nth-child(5n + 4) {
    stroke: #56D9CD;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}

.text-username-use:nth-child(5n + 5) {
    stroke: #3AA1BF;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
    }
}

.highscore-text-username {
    font: 40pt Open Sans, Impact;
    margin: 0;
}

