.img-responsive {
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: #555 2px 2px 2px 1px;
    max-height: 450px;
}

.container {
    margin-top: 30px;
    margin-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100%;
}


.wrapper {
    min-height: 100%;
    /* margin: 0 auto -49px;
    ; */
}

h3,
h4,
p {
    text-align: left;
}

.group-buttons {
    margin-top: 20px;
}

.btn {
    min-width: 80px;
    float: left;
}



.btn-primary {
    float: left;
    margin-right: 5px;
    margin-top: 20px;
    min-width: 50px;
}

.delete {
    float: left;
    margin-top: 20px;
}
