<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- <img class="img-responsive"
          src="{{(image | async).url}}" /> -->
        <img class="img-responsive"
          src="{{imgUrl}}" />
      </div>
      <div class="row">
        <div class="col-cs-12 list-group-item">
          <strong>Picture Title</strong> - {{imgTitle}}
        </div>
        <div class="col-cs-12 list-group-item">
          <p><strong>Picture Descritpion</strong></p>
          <p> {{imgDescription}}</p>
        </div>
        <div class="col-cs-12 list-group-item">
          <strong>Picture Author</strong> - {{imgAuthor}}
        </div>
        <div class="col-cs-12 list-group-item">
          <strong>Categorie</strong> - {{imgCategorie}}
        </div>
        <div class="col-cs-12">
          <div class="col-cs-12">
            <button (click)="edit()"
              [disabled]="!editAuthorOnly"
              class="btn btn-primary">Edit</button>
          </div>
        </div>
        <div class="col-cs-12">
          <div class="col-cs-12">
            <button (click)="returnToGallery()"
              class="btn btn-primary">Back to Gallery</button>
          </div>
        </div>
        <div class="col-cs-12">
          <div class="col-cs-12">
            <button (click)="toProfile()"
              class="btn btn-primary">Back to Profile</button>
          </div>
        </div>
        <div class="col-cs-12">
          <div class="col-cs-12 delete">
            <button (click)="delete()"
              [disabled]="!editAuthorOnly"
              class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
