<div class="container"> 
    <div class="row vertical-offset-100"> 
        <div class="col-md-4 col-md-offset-4"> 
            <div class="panel panel-default blur-box"> 
                <div class="panel-heading"> 
                    <h3 class="panel-title">
                        CONTACT US 
                    </h3>
                </div>
                <div class="panel-body blur-box"> 
                    <form action="mailto:nightout@gmail.com" method="post"> 
                        <fieldset> 
                            <div class="form-group"> 
                                <label for="email">
                                    E-MAIL: 
                                </label>
                                <input class="form-control" name="email" type="email" autofocus="autofocus" id="email" required="required"> 
                            </div>
                            <div class="form-group"> 
                                <label for="subject">
                                    SUBJECT: 
                                </label>
                                <input class="form-control" name="subject" type="text" id="subject" required="required"> 
                            </div>
                            <div class="form-group">
                                <label for="message">
                                    MESSAGE: 
                                </label>
                                <input class="form-control" name="message" type="textarea" id="message" required="required">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="SEND">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>