<div class='container'>
  <p appHighlight>
    We are happy to have
  </p>
  <p appHighlight>
    <strong>
        {{lengthUsers}} Users
      </strong>
  </p>
  <p appHighlight>
    in our family, all of them captured a total of
  </p>
  <p appHighlight>
    <strong>
      {{lengthAll}} beautiful moments,
      </strong>
  </p>
  <p appHighlight>
    separated in all of the five categories
  </p>
  <p appHighlight>
    <strong>
      Landscape: {{lengthLandscape}}
      </strong>
  </p>
  <p appHighlight>
    <strong>
      Architecture: {{lengthArchitecture}}
      </strong>
  </p>
  <p appHighlight>
    <strong >
      Animals: {{lengthAnimals}}
      </strong>
  </p>
  <p appHighlight>
    <strong>
      Portrait: {{lengthPortrait}}
      </strong>
  </p>
  <p appHighlight>
    <strong>
      Other: {{lengthOther}}
      </strong>
  </p>
</div>
