extends ../_shared/_master
block body
    div#reg-form
        form(action='/auth/sign-up', method="POST")
            p#input-info
                | username must be at least 3 chars, consisting of latin lettern and digits only
            input.form-control(type="text" name="username" required = true placeholder="Enter username")
            p#input-info
                | password must be at least 6 chars, consisting of latin lettern and digits only
            input.form-control(type="password" name="password" required = true placeholder="Enter password")
            div
                p#input-info
                    | first and last name must contain only latin letters
                input.form-control.name-info-left(type="text" name="firstname" placeholder="Enter first name")
                input.form-control.name-info-right(type="text" name="lastname" placeholder="Enter last name")
            
            input.form-control(type="text" name="town" placeholder="Enter town")
            input.form-control(type="text" name="profilImage" placeholder="Enter image url")
            button.btn.btn-success#btn-register
                | Register
