<div class="container">
    <div class="row">
        <div class="profile-block">
            <div class="col-md-4">
                <img src="../../../../assets/img/misha.jpg"
                    alt="Mihaela"
                    class="img-rounded img-responsive">
                <div class="info">
                    <blockquote>
                        <p>
                            <strong>
                            Mihaela Ivanova
                        </strong>
                            <small>
                            <cite title="Source Title">
                                Varna, Bulgaria
                            </cite>
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </small>
                        </p>
                    </blockquote>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> misha.ivanov@gmail.com
                        <br>
                        <i class="glyphicon glyphicon-globe"></i> www.snapitt.com
                        <br>
                        <i class="glyphicon glyphicon-gift"></i> December 5, 1990
                    </p>
                </div>
            </div>
        </div>
        <div class="profile-block">
            <div class="col-md-4">
                <img src="../../../../assets/img/marto.png"
                    alt="Mihaela"
                    class="img-rounded img-responsive">
                <div class="info">
                    <blockquote>
                        <p>
                            <strong>
                            Martin Boykov
                        </strong>
                            <small>
                            <cite title="Source Title">
                                Sofia, Bulgaria
                            </cite>
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </small>
                        </p>
                    </blockquote>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> marto.boykov@gmail.com
                        <br>
                        <i class="glyphicon glyphicon-globe"></i> www.snapit.com
                        <br>
                        <i class="glyphicon glyphicon-gift"></i> March 16, 1988
                    </p>
                </div>
            </div>
        </div>
        <div class="profile-block">
            <div class="col-md-4">
                <img src="../../../../assets/img/ludziev.jpg"
                    alt="Mihaela"
                    class="img-rounded img-responsive">
                <div class="info">
                    <blockquote>
                        <p>
                            <strong>
                                Stefan Ludzhev
                            </strong>
                            <small>
                                <cite title="Source Title">
                                    Sofia, Bulgaria
                                </cite>
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </small>
                        </p>
                    </blockquote>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> stefan.ludzhev@gmail.com
                        <br>
                        <i class="glyphicon glyphicon-globe"></i> www.snapit.com
                        <br>
                        <i class="glyphicon glyphicon-gift"></i> August 9, 1987
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
