.row{
    margin-top:10%;
    margin-bottom:10%;
    margin-left:0 important!
}
.img-rounded{
    margin:auto;
    margin-bottom:25px;
    width:80% !important;
}

div.profile-block div.col-sm-2{
    padding:0;
}

.info{
    display: inline-block;
    padding-left:25px;
}

i.glyphicon{
    margin-bottom: 10px;
}

@media (max-width: 992px){
    .img-rounded{
        margin-left:55px;
        width:250px !important;
    }
    .info{
        padding-left:55px;
    }
}
