<div class="container">
  <h2 *ngIf="filterBy==='all'">All Photos</h2>
  <h2 *ngIf="filterBy!=='all'">Photos with {{filterBy}}</h2>
  <hr>
  <div class="row">
    <div class="container-fluid col-lg">
      <button class="btn btn-lg btn-info"
        [class.active]="filterBy==='all'"
        (click)="filterBy='all'">All</button>
      <button class="btn btn-lg btn-info"
        [class.active]="filterBy==='Landscape'"
        (click)="filterBy='Landscape'">Landscape</button>
      <button class="btn btn-lg btn-info"
        [class.active]="filterBy==='Portrait'"
        (click)="filterBy='Portrait'">Portrait</button>
      <button class="btn btn-lg btn-info"
        [class.active]="filterBy==='Animals
        '"
        (click)="filterBy='Animals'">Animals</button>
      <button class="btn btn-lg btn-info"
        [class.active]="filterBy==='Architecture
        '"
        (click)="filterBy='Architecture'">Architecture</button>
      <button class="btn btn-lg btn-info"
        [class.active]="filterBy==='Other
        '"
        (click)="filterBy='Other'">Other</button>
    </div>
    <hr>

   <div class="gal"  >
      <div *ngFor="let image of images | async |  imageFilter:filterBy  ">
          <a [routerLink]="['/image', image.$key]">
            <img [src]="image?.url" class="tn">
            </a>
      </div>
      <div infiniteScroll
        [infiniteScrollDistance]="3"
        [infiniteScrollThrottle]="2000"
        (scrolled)="onScroll()">
      </div>
      <div *ngIf="!finished">

      </div>

    </div>
    <div *ngIf="finished" class="col-cs-12 list-group-item end-of-db">
      There are no more pictures...!
    </div>
    <!-- <div class="gal">
    <ul >
      <li *ngFor="let image of (images | async | reverse |  imageFilter:filterBy )"
        class="img">
        <a [routerLink]="['/image', image.$key]">
            <img src="{{image.url}}" class="tn">
            </a>
      </li>
    </ul>
  </div> -->
  </div>
</div>
