<footer clas="footer footer-fixed-bottom">

        <span class="links desktop-only">
          <p>
            <abbr title="TheUnevenKangaroos Team">
                <a href="https://github.com/TheUnevenKangaroos/SnapIT" title="https://github.com/TheUnevenKangaroos/SnapIT">
                     SnapIT
                </a>
                © 2017
            </abbr>
            as
            <abbr title=" Angular Course">
                <a href="https://github.com/TheUnevenKangaroos/SnapIT/blob/develop/ProjectRequirements.md">
                    Angular Course
                </a>
            </abbr>
            project assignment at
            <abbr title="Telerik Academy">
                <a href="http://telerikacademy.com/">
                    Telerik Academy 2016-2017
                </a>
            </abbr>
          </p>
         </span>
        <span class="links mobile-only">
                <p>
                  Made by
                  <abbr title="TheUnevenKangaroos Team">
                      <a href="https://github.com/TheUnevenKangaroos/SnapIT" title="https://github.com/TheUnevenKangaroos/SnapIT">
                          TheUnevenKangaroos
                      </a>
                      © 2017
                  </abbr>
                </p>
        </span>

    <!-- <div class="footer-left">
        <p class="">
            <a href="/about"> About </a>
            <a [routerLink]="['/contacts']"> Contacts </a>
        </p>
    </div> -->
</footer>
