footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    color: #777;
    background-color: black;
    text-align: center;
    /* border-top: 1px solid #e5e5e5 */
}

p {
    font-size: small;
    font-weight: 400;
    font-family: 'Roboto' sans;
    text-align: center;
    margin-top: 10px;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}


div.footer-right {
    float: right;
    padding-top: 4px;
    padding-right: 15px;
}

div.footer-right,
div.footer-left {
    padding-top: 5px;
}

p.footer-links>a {
    padding-left: 15px;
    padding-right: 20px;
    color: #9d9d9d
}

p.footer-links>a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

div.footer-left>p>a {
    color: white !important;
    font-size: 16px;
    border: 0px;
    margin-left: 30px;
}

div.footer-left>p {
    text-align: left;
}

p.coppy-right {
    padding-left: 15px;
}
