* {
	margin:0px;
	padding:0px;
	font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
font-size: 16px

}
#wrapper{
	background-image: url("imgs\logo.png");
	margin:5px;
	width: 960px;
}
.menu {
	
	top: 0px;
}


.menu>li>a {

	list-style: none;
	text-decoration: none;
	color: #1C00FD;
}
.menu>li{

	float: left;   /*//////////////////FLOAT//////////////////////*/
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	padding:10px 20px;
	margin-right: 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25dcf2+0,7995e2+100 */
background: #25dcf2; /* Old browsers */
background: -moz-linear-gradient(top,  #25dcf2 0%, #7995e2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #25dcf2 0%,#7995e2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #25dcf2 0%,#7995e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25dcf2', endColorstr='#7995e2',GradientType=0 ); /* IE6-9 */
}


.menu li:hover {
	
	padding:10px 45px;

}
.menu li:hover a{
	font-size: 24px
}
.menu li:hover .content {
	display: inline-block;
}


.content {
	position: absolute;   /*//////////////////ABSOLUTE//////////////////////*/
	margin-left: -25px;
	display: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,a0d8ef+100 */
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #a0d8ef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #feffff 0%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #feffff 0%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
border-radius: 10px;
border: 1px solid black;

}
.content h3{
	display: inline-block;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 25px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}
.content>p  {
	
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 30px;
	font-weight: normal;
	
}
.content>p span {
	font-weight: bold;
}
.menu li .content a {
	font-size: 16px; 
	text-decoration: none;
}
.content ul {
	margin-top: 0px;
	list-style-type: square;
}
.content ul li a{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	
}
.content ul li{
padding-right: 30px;
	margin-left: 20px;
	
}
.content ul li:last-child{
padding-bottom: 10px;
}

.content ul li:hover a{
text-decoration: underline;
padding: 0px;
margin: 0px;
}






