extends ../_shared/_master
block body

    h1
        | Topics
    div#topic-info
        div.title-info
            | Title
        div.author-info
            | Author
        div.comments-count-info
            | Comments
    each topic in topics
        div.topic
            div.topic-wrapper.title-info
                a(href=`/topics/${topic.title}`)
                    =topic.title
            div.topic-wrapper.author-info
                a(href=`/users/${topic.author}`)
                    =topic.author
            div.topic-wrapper.comments-count-info
                span
                    =topic.comments.length
    if user
        div#post-topic-btn
            form(action="/topics/form" method="get")
                button.btn.btn-success
                    | Start New Topic