extends ../_shared/_master
block body
    if user
        form(action="/topics" method="POST")
            label(for='title') Title
            input.form-control(label="Title" name="title" required type="text" placeholder="Enter title")
            textarea.form-control(rows=10 label="Content" name="content" required type="textarea" placeholder="Enter content")
            button.btn.btn-success
                | Submit