mixin auth()
    if user
        form(action="/auth/sign-out" method="get")
            button.btn.btn-danger#register-btn
                | sign-out
    else
        form(action="/auth/sign-in" method="get")
            button.btn.btn-success#logout-btn
                | Sign In