mixin modifyContent(topicTitle, id, commContent)
    script(src = '/static/js/modifyContent.js')
    .modify-conteiner
        .modify-form
            form.form-horizontal(action=`/topics/${topicTitle}/${id}/edit` method="post")
                textarea.form-control(rows=3  name="content" )| #{commContent}
                button.confirm-btn.btn.btn-info
                        | Confirm
            .return-btn
                button.return-btn.btn.btn-success
                            | Return
        .modify-btn
            button.btn.btn-info
                | Modify
