#I 
{
    text-indent: 14px ;
    padding-left: 35px;
    
}
#a
{
    text-indent: 15px ;
    padding-left: 30px;
}
#one
{
    text-indent: 15px ;
    padding-left: 30px;
}
#circle
{
    text-indent: 8px ;
    padding-left: 55px;
}
#square
{
    text-indent: 5px ;
    padding-left: 50px;
}
#disc
{
    text-indent: 14px ;
    padding-left: 30px;
}