extends ../_shared/_master
include ../_shared/_showPosts

block body
    h1
        ='The profile of '
        span#profile-name
            =context.username
    div#user-info
        div#profile-image
            if context.profilImage
                img#profile-pic(src=context.profilImage)
            else
                img#profile-pic(src='/static/css/images/default-profile.jpg')
        div#profile-info
            h3
                | About me
            h4
                ul
                    if context.firstname
                        li
                            | First name: 
                            =context.firstname
                    if context.lastname
                        li
                            | Last name: 
                            =context.lastname
                    if context.town
                        li
                            | Town: 
                            =context.town
                    li
                        | Register Date:
                        =context.regDate
                button.btn.btn-primary#posts-show-btn
                    | Show posts
                button.btn.btn-danger#posts-hide-btn
                    | Hide post
            if user && context.username === user.username
                form(action=`/users/${user.username}/updateProfil`, method='get')
                    button.btn.btn-success#btn-update-profile
                        | Update profile
    div#user-posts
        +showPosts()