<nav class="navbar">
  <div class="navbar navbar-default navbar-static">
    <div class="container">
      <div class="navbar-header">
        <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" [routerLink]="['/']" title="TheUnevenKangaroo">
          <div class="wrapper">
            <img src="./assets/img/logo.png" class="logo"><span>SnapIT</span>
          </div>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['/']">
                  Home
                </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/statistics']">
                  Statistics
                </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/about']">
                  About
                </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li routerLinkActive="active">
            <a [routerLink]="['/gallery']">
                  <span class="glyphicon glyphicon-filter desctop-only" aria-hidden="true"></span>
                  <span >Filter</span>
              </a>
          </li>
          <li routerLinkActive="active">
            <!-- only for logged in users -->
            <a id="upload-link" [routerLink]="['/upload']">
                  <span class="glyphicon glyphicon-cloud-upload desctop-only" aria-hidden="true"></span>
                  <span >Upload</span>
              </a>
          </li>
          <li routerLinkActive="active">
            <!-- only when logged in -->
            <a (click)="toProfile()" *ngIf="isUserLoggedIn" style="cursor: pointer;">
              <span class="glyphicon glyphicon-user desctop-only" aria-hidden="true"
              ></span>
              <span class="mobile-only">Profile</span>
              </a>

          </li>
          <li routerLinkActive="active">
            <!-- only when logged out -->
            <a [routerLink]="['/login']" *ngIf="!isUserLoggedIn">Log In</a>

          </li>
          <li routerLinkActive="active">
            <!-- only when logged in -->
            <a style="cursor: pointer;" (click)="onLogout()" *ngIf="isUserLoggedIn">Logout
          </a>
          </li>
        </ul>
      </div>
      <toaster-container></toaster-container>
    </div>
  </div>
</nav>
