<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Team Orc Project - Library SPA</h1>
        </div>
    </div>

    <div class="col-lg-8 text-left">
        <div class="bs-component">
            <p>View the source code: <a href="https://github.com/dadanchi/Library" target="_blank">Github</a></p>

            <p>Please visit: <a href="https://github.com/TelerikAcademy/JavaScript-Applications/blob/master/Teamwork/README.md" target="_blank">Project Requrements</a></p>
            <p>This application was developed as a part of <a href="http://www.telerik.com/about/telerik-academy" target="_blank">Telerik Academy's</a> <a href="http://telerikacademy.com/Courses/Courses/Details/427" target="_blank">JavaScript Applications course</a>.</p>
            <p>Team members: </p>
            <ul>
                <li>Jordan Dimitrov - <a href="http://telerikacademy.com/Users/dadanchi" target="_blank"> dadanchi</a></li>
                <li>Lazar Lyutakov - <a href="http://telerikacademy.com/Users/lazarlyutakov" target="_blank"> lazarlyutakov </a></li>
                <li>Martin Martinov - <a href="http://telerikacademy.com/Users/martinboykov" target="_blank"> martinboykov </a></li>
            </ul>
        </div>
    </div>
</div>