<div class="row ">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Contacts</h1>
        </div>
    </div>

    <div class="col-lg-8 text-left">
        <div class="bs-component">
            <ul>
                <li><a href="https://github.com/dadanchi/" target="_blank">Jordan Dimitrov</a></li>
                <li><a href="https://github.com/lazarlyutakov/" target="_blank">Lazar Ljutakov</a></li>
                <li><a href="https://github.com/martinboykov/" target="_blank">Martin Martinov</a></li>
            </ul>
        </div>
    </div>
</div>