<div class="row">
    <div class="col-sm-7">
        <img src="./images/Library.png" alt="Library" class="img-responsive">
    </div>
    <div class="col-sm-4">
        <div class="row align-items-middle">
            <div class="row">
                <h3 id="home-text">Welcome to our Library <br> Enjoy your stay</h3>
            </div>
            <div class="row" id="home-bottom-img">
            </div>
            <div class="row align-items-end">
                <img src="./images/scroll-wallpaper.png" alt="scroll-wallpaper" class="img-responsive">
            </div>
        </div>
    </div>
</div>
