<form>
    <div id="signUp-form">
        <div>       
            <label for="email-input">Email
                <input id="email-input">
            </label>
        </div>
        <div>
            <label for="username-input">Username
                <input id="username-input">
            </label>
        </div>
        <div>
            <label for="password-input">Password
                <input id="password-input" type="password">
            </label>
        </div>
        <div id="sign-buttons">
            <a href="#/signin" class="btn btn-success">Sign in</a>
            <a href="#/signup" class="btn btn-info">Register</a>
        </div>
    </div>
   
</form>